body {
  background-image: url('https://images.unsplash.com/photo-1543785734-4b6e564642f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Handlee', sans-serif;
}

.centered-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-form {
  background-color: #ffffffa6;
  padding: 70px;
  border-radius: 10px;
  text-align: center;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.custom-button,
.dashboard-button {
  width: auto;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #445570;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.header-content h2 {
  font-size: 0.625rem;
  margin-bottom: 0.5rem;
}

#total-cost {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#trip-planner-form {
  flex: 0 0 20%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-group {
  margin: 10px 0;
}

.form-group input[type="date"],
.form-group input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#estimated-cost {
  font-weight: bold;
  margin-top: 10px;
}

.trip-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

#dashboard {
  display: none;
  background-color: #f0f0f0d7;
  padding: 20px;
  border-radius: 10px;
  color: #07162e;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffffbf;
  color: #445570;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  height: auto;
  min-height: 150px;
}

.trip-planner {
  flex-shrink: 0;
  width: 30%;
  padding: 20px;
  background-color: #ffffffac;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.trip-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.trip-column {
  flex: 1;
  margin: 0 10px;
}

.trip-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.trip-images img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.scrollable-images {
  margin-top: 0;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  height: 150px;
  white-space: nowrap;
}


.scrollable-images .destination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  width: auto; /* Adjust the width as needed */
}


.scrollable-images .destination-item img {
  max-height: 100px; /* Adjust the maximum height as needed */
  max-width: 100%; /* Maintain the aspect ratio */
}

.scrollable-images .destination-item p {
  margin-top: 5px; /* Adjust the margin as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

#destination-header h3 {
  color: #445570;
  text-align: center;
  font-size: 6rem;
  margin-bottom: 1rem;
}

.header-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#destination-header {
  width: 100%;
  text-align: center;
}
